#myCanvas {
  border: solid black;
  background: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 30px;
}
